<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <!-- find out about these config options -->
    <system.diagnostics>
        <trace autoflush="false" indentsize="4">
            <listeners>
                <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
                <!-- <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" /> -->
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>